@model GestionCitaDental.Models.TblCitum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblCitum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            FECHA DE CITA
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            ESTADO DE CITA
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoCitaNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            DOCTOR
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOdontologoNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            PACIENTE
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPacienteNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            SERVICIO
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProcedimientoNavigation.Descripcion)
        </dd>
        <dt class="col-sm-2">
            COSTO
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProcedimientoNavigation.Costo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCita">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
