@model IEnumerable<GestionCitaDental.Models.TblCitum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                FECHA
            </th>
            <th>
                ESTADO DE CITA
            </th>
            <th>
                DOCTOR
            </th>
            <th>
                PACIENTE
            </th>
            <th>
                PROCESO
            </th>
            <th>
                COSTO
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoCitaNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOdontologoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacienteNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProcedimientoNavigation.Descripcion)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProcedimientoNavigation.Costo)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCita">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCita">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCita">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
